# Implement Find-S Algorithm

## Load Libraries

In [22]:
import pandas as pd

## Load Dataset

In [23]:
df = pd.read_csv('lab1.csv')

## Explore Dataset

In [24]:
df.head()

     sky air temp humdity    wind water forecast enjoy sports
0  sunny     warm  normal  strong  warm     same          yes
1  sunny     warm    high  strong  warm     same          yes
2  rainy     cold    high  strong  warm   change           no
3  sunny     warm    high  strong  cool   change          yes

In [25]:
df.shape

(4, 7)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sky           4 non-null      object
 1   air temp      4 non-null      object
 2   humdity       4 non-null      object
 3   wind          4 non-null      object
 4   water         4 non-null      object
 5   forecast      4 non-null      object
 6   enjoy sports  4 non-null      object
dtypes: object(7)
memory usage: 356.0+ bytes

## Split Dataset Into Attributes And Target

In [27]:
result=df['enjoy sports'].values
print(result)

['yes' 'yes' 'no' 'yes']

In [28]:
attributes=df.drop('enjoy sports',axis=1).values
print(attributes)

[['sunny' 'warm' 'normal' 'strong' 'warm' 'same']
 ['sunny' 'warm' 'high' 'strong' 'warm' 'same']
 ['rainy' 'cold' 'high' 'strong' 'warm' 'change']
 ['sunny' 'warm' 'high' 'strong' 'cool' 'change']]

## Initialization Of Specific Hypothesis

In [29]:
H=['0']*attributes.shape[1]

In [30]:
print(f'Initial Hypothesis is : {H}')

Initial Hypothesis is : ['0', '0', '0', '0', '0', '0']

## Implement The Logic Of Find-S Algorithm

In [31]:
for i in range(attributes.shape[0]):
    if result[i]=='yes':
        for j in range(attributes.shape[1]):
            if H[j]=='0':
                H[j]=attributes[i][j]
            elif H[j]!=attributes[i][j]:
                H[j]='?'
    print(f'For Step-{i} : {H}')

For Step-0 : ['sunny', 'warm', 'normal', 'strong', 'warm', 'same']
For Step-1 : ['sunny', 'warm', '?', 'strong', 'warm', 'same']
For Step-2 : ['sunny', 'warm', '?', 'strong', 'warm', 'same']
For Step-3 : ['sunny', 'warm', '?', 'strong', '?', '?']

## Final General Hypothesis

In [32]:
print(f'Final Hypothesis is : {H}')

Final Hypothesis is : ['sunny', 'warm', '?', 'strong', '?', '?']